/* *** TODO: Put your CSS styles here to make the web application look nice *** */
.float-child {
  width: 50%;
  float: left;
}  

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;    
}

.statistic-table {
  width: 100%;
}